* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.asset_main {
  padding: 0px 20px;
}
.asset_main h2 {
  font-size: 25px;
  font-weight: 500;
}
.asset_main .asset_form {
  border: 1px solid rgb(226, 232, 240);
  background-color: white;
  padding-bottom: 20px;
  margin-top: 20px;
}
.asset_main .asset_form .asset-upper-part {
  border-bottom: 1px solid rgb(226, 232, 240);
  padding: 15px 25px;
}
.asset_main .asset_form .asset-upper-part h4 {
  font-weight: 500;
}
.asset_main .asset_form .asset-lower-part {
  padding: 5px 25px;
}
.asset_main .asset_form .asset-lower-part table {
  width: 100%;
}
.asset_main .asset_form .asset-lower-part table tr td:has(label) {
  padding-bottom: 8px;
  padding-top: 15px;
}
.asset_main .asset_form .asset-lower-part table tr td {
  padding: 3px 0px;
  position: relative;
}
.asset_main .asset_form .asset-lower-part table tr td .add_field {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 5px;
  padding-left: 22px;
  margin-left: 10px;
  border: 1.5px solid #3469a9;
  background-color: #f4f8fd;
  color: #3469a9;
  border-radius: 6px;
  cursor: pointer;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}
.asset_main .asset_form .asset-lower-part table tr td .add_field i {
  position: absolute;
  left: 5px;
  top: 4px;
  color: #3469a9;
}
.asset_main .asset_form .asset-lower-part table tr td .add_field:hover {
  transform: scale(1.015);
}
.asset_main .asset_form .asset-lower-part table tr td .specification {
  width: 40%;
  position: relative;
}
.asset_main .asset_form .asset-lower-part table tr td .specification i {
  margin-top: -7px;
}
.asset_main .asset_form .asset-lower-part table tr td .specification button {
  right: 50px;
  top: 5px;
  position: absolute;
}
.asset_main .asset_form .asset-lower-part table tr td select {
  width: 100%;
  background-color: #f0f4fa;
  padding: 8px 10px 8px 50px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  cursor: pointer;
}
.asset_main .asset_form .asset-lower-part table tr td input {
  background-color: #f0f4fa;
  width: 100%;
  padding: 10px 0px 10px 50px;
  outline: none;
  border-radius: 5px;
}
.asset_main .asset_form .asset-lower-part table tr td input:focus {
  border-color: #9a9a9a;
  box-shadow: 0 0 3px #2c384d;
}
.asset_main .asset_form .asset-lower-part table tr td input[type=date] {
  padding-right: 80%;
}
.asset_main .asset_form .asset-lower-part table tr td i {
  color: rgb(132, 142, 160);
  top: 16px;
  font-size: 17px;
  left: 18px;
  position: absolute;
}
.asset_main .asset_form .asset-lower-part table tr .button {
  display: flex;
  width: 50%;
  padding-top: 20px;
}
.asset_main .asset_form .asset-lower-part table tr .button input {
  text-align: center;
  padding: 10px 0px;
  margin-right: 10px;
}
.asset_main .asset_form .asset-lower-part table tr .button .submit {
  text-align: center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4e5a6f;
  color: white;
  width: 100%;
  border-radius: 5px;
}
.asset_main .asset_form .asset-lower-part table tr .button .submit:hover {
  cursor: pointer;
  background-color: #2c384d;
}
.asset_main .asset_form .asset-lower-part table tr .button input[type=reset] {
  cursor: pointer;
  background-color: white;
  border: 1px solid #dadbdc;
}/*# sourceMappingURL=add_asset.css.map */